* {

  font-family: TrueType;
}

body {
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #1a1818;
  color: #fff;
  padding: 0.5px;
  text-align: center;
  font-family: TrueType;

}

nav {
  background-color: #444;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}



footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  


}

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;

}

.imgInicio {
  max-width: 100%;
  height: 70vh;
  display: block;
}

.imgMobile {
  max-width: 100%;
  height: auto;
  display: none;}

@media (max-width: 768px) {
  .imgInicio {
    display: none;
  }

  .imgMobile {
    display: block;
    max-width: 100%;
    height: auto;
    
  }
  
}